
<html>

<body>

<h2>Please Confirm Artist {{ results["search_term"] }}</h2>
<form action="/artist/confirm" method="POST">
 
    <p> </p>
    <input type="text" id="fname" name="matching_artist"><br>
    <p> </p>
    <input type="submit" value="Submit">
  </form> 

<!-- TODO: consider using a table instead of a list -->
<!-- TODO: consider adding images using the provided icon urls -->
<ul>
{% for artist_options in results %}
    <li>{{ artist_options["name"] }} </li>
{% endfor %}
</ul>
{{results}}
</body>

</html>

